$middle-margin: 30px;

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  flex: 100%;
}

.icon {
  margin: auto;
  margin-right: $middle-margin;
}

.details {
  margin: auto;
  margin-left: $middle-margin;

  .details-temperature-unit {
    border: 1px solid gray;
    border-radius: 3px;
    background-color: inherit;
  }
}

footer {
  text-align: center;
  flex: 100%;
}